extends layout

block content
  h1= title
  table
    thead
      tr
        th 기사제목
        th 출처
    tbody
      each article in data
        tr
          td #{article.title}
            a(href=article.url) 기사 보기
          td #{article.from}

